* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

.banner {
  height: 3rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale {
  padding-right: 1rem;
}
.sale p {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.time {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  color: white;
}

.time p {
  font-size: 1.2rem;
  padding: 0 0.5rem;
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 5rem;
}

nav a {
  height: 100%;
  font-size: 1.5rem;
  padding: 0 3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25rem;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.181);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}

.menu-btn {
  display: none;
}

.logo {
  height: 6rem;
  width: auto;
}
main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.title {
  text-align: center;
  margin: 2rem;
  padding: 3rem;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  color: white;
}

.container-form {
  background-color:#B9B7BD;
  height: 55rem;
  width: 60rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 1rem;
  padding-left: 10rem;
}

.input-container.error input{
  border-color: red;
}

.input-container.success input{
  border-color: lightgreen;
}

.input-container input,textarea{
  width: 60%;
  height: 3rem;
  border: 2px solid black;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 10px;
}

.input-container textarea{
  width: 60%;
  height: 10rem;
  border: 2px solid black;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 10px;
}
label{
  color: white;
  font-size: 2rem;
  font-weight: bold;

}

.form-btn {
  margin-top: 2rem;
  width: 12rem;
  height: 3rem;
  align-self: center;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  background-color: rgb(231, 213, 213);
}

.form-btn:hover{
  transform: scale(1.2);
  background-color: black;
  color: white;



}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  height: 14rem;
  padding-top: 2rem;
}

.footer-aboutus {
  display: flex;
  flex-direction: column;
}
.footer-aboutus h2 {
  color: gray;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.footer-aboutus a {
  color: white;
  height: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
}
.footer-aboutus a:hover {
  text-decoration: underline;
}
.footer-socials {
  display: flex;
  gap: 1rem;
}

.footer-socials a {
  background-color: #f0f0f0;
  padding: 1em;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
}

.footer-socials a svg {
  height: 2rem;
}

.footer-socials a:hover {
  background-color: var(--accent-color);
  fill: white;
}

.footer-returns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-returns h2 {
  color: gray;
  font-size: 2rem;
  padding-bottom: 3px;
}
.footer-returns a {
  color: white;
  height: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
}

@media (max-width: 800px) {
  html{
    font-size: 52%;
  }
  .hideMobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {

    html{
      font-size: 40%;
    }

    .sidebar {
      width: 100%;
    }
    .menu-btn {
      display: block;
    }

    .sale p {
      font-size: 1rem;
      font-weight: bold;
      color: white;
    }

    .time p {
      font-size: 1rem;
      padding: 0 0.5rem;
    }

    

    footer {
      padding-left: 3rem;
      flex-direction: column;
      gap: 3rem;
      height: auto;
    }
  }
}
